.principal{
  display: flex;
  background-color: #FAFAFA;
}
.content{
  width: 100%;
}
title{
  background-color: #ffffff;
  padding: 15px;
}
thead{
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  color: #0f0f0f;
}
th {
  padding: 15px;
}
h1{ 
  font-size: 35px;
  padding: 0px;
  margin-top: 50px;
}
td{
  padding: 15px;
}
.adicionarUnidade {
  text-align: center;
}