<app-menu-lateral></app-menu-lateral>
<div class="main">
  <div class="content">
    <div class="container title">
      <h1>Dashboard</h1>
    </div>

    <main class="cards">
      <article class="card first">
        <h5 class="card-title">Total unidades</h5>
        <h6 class="card-subtitle mb-2 text-muted">60</h6>
      </article>
      <article class="card second">
        <h5 class="card-title">Unidades ativas</h5>
        <h6 class="card-subtitle mb-2 text-muted">16</h6>
      </article>
      <article class="card third">
        <h5 class="card-title">Unidades Inativas</h5>
        <h6 class="card-subtitle mb-2 text-muted">43</h6>
      </article>
      <article class="card fourth">
        <h5 class="card-title">Média de energia</h5>
        <h6 class="card-subtitle mb-2 text-muted">64 Kw</h6>
      </article>
    </main>
    <!-- <app-footer></app-footer> -->
  </div>
</div>
<app-footer></app-footer>
