<app-menu-lateral></app-menu-lateral>
<div class="main">
  <div class="content">
    <div class="container title">
      <h1>Dashboard</h1>
    </div>

    <div class="container row">
      <div class="card col me-3">
        <div class="card-body">
          <h5 class="card-title">Total unidades</h5>
          <h6 class="card-subtitle mb-2 text-muted">Total de Unidades</h6>
        </div>
      </div>
      <div class="card col me-3">
        <div class="card-body">
          <h5 class="card-title">Unidades Ativas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Unidades ativas</h6>
        </div>
      </div>
      <div class="card col me-3">
        <div class="card-body">
          <h5 class="card-title">Unidades Inativas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Unidades Inativas</h6>
        </div>
      </div>
      <div class="card col me-3">
        <div class="card-body">
          <h5 class="card-title">Média de energia</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            MediaDeEnergia || 0 }}kw
          </h6>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- <app-grafico></app-grafico> -->
    </div>
  </div>
</div>
<app-footer></app-footer>
