<div class="container-login">
  <div class="img-box">
    <img src="assets/catavento.png" />
  </div>

  <div class="content-box">
    <div class="form-box">
      <div class="rounded mx-auto d-block">
        <div class="logo">
          <img src="../assets/logo.png"/></div>
      </div>
      <h3>Seja bem vindo (a)</h3>
      <form>
        <div class="input-box">
          <input type="email" placeholder="Email" class="email" />
        </div>

        <div class="input-box">
          <input type="password" placeholder="Senha" class="password" />
        </div>

        <div class="input-box">
          <input type="submit" value="Entrar" />
        </div>
      </form>
    </div>
  </div>
</div>
